        * {
            padding: 2px;
        }
        
        body {}
        
        .green {
            color: green;
        }
        
        input {
            width: 200px;
        }
        
        a {
            text-decoration: none;
        }
        
        .id4 {
            height: 150px;
            width: auto;
            background-color: bisque;
            text-align: center;
        }
        
        .fiqur img {
            width: 300px;
        }
        
        nav {
            display: flex;
        }
        
        ul {
            list-style-type: none;
        }
        
        li {
            float: left;
            background-color: white;
        }
        
        li a {
            text-align: center;
            color: black;
            padding: 12px 14px;
        }